block varsPeople
  - 
    var commentsList = [
      {slider: '3', text: "3 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.", name: 'JANE GALADRIEL', vocation: 'CEO TENGKUREP', class: 'active', avatars: [
        {src: '/static/images/content/av-1.png', size: '45', class: '', value: 1},
        {src: '/static/images/content/av-2.png', size: '45', class: '', value: 2},
        {src: '/static/images/content/av-3.png', size: '70', class: 'active', value: 3},
        {src: '/static/images/content/av-4.png', size: '45', class: '', value: 4},
        {src: '/static/images/content/av-5.png', size: '45', class: '', value: 5},
      ]},
      {slider: '2', text: "2 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus...", name: 'JON SMITT', vocation: 'WEB DEV', class: '', avatars: [
        {src: '/static/images/content/av-1.png', size: '45', class: '', value: 1},
        {src: '/static/images/content/av-2.png', size: '70', class: 'active', value: 2},
        {src: '/static/images/content/av-3.png', size: '45', class: '', value: 3},
        {src: '/static/images/content/av-4.png', size: '45', class: '', value: 4},
        {src: '/static/images/content/av-5.png', size: '45', class: '', value: 5},
      ]},
      {slider: '1', text: "1 This is Photoshop's version...", name: 'ALEX ADAMS', vocation: 'FRONTED DEVELOPER', class: '', avatars: [
        {src: '/static/images/content/av-1.png', size: '70', class: 'active', value: 1},
        {src: '/static/images/content/av-2.png', size: '45', class: '', value: 2},
        {src: '/static/images/content/av-3.png', size: '45', class: '', value: 3},
        {src: '/static/images/content/av-4.png', size: '45', class: '', value: 4},
        {src: '/static/images/content/av-5.png', size: '45', class: '', value: 5},
      ]},
      {slider: '4', text: "4 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin...", name: 'NAME FAMILY', vocation: 'PROGRAMIST', class: '', avatars: [
        {src: '/static/images/content/av-1.png', size: '45', class: '', value: 1},
        {src: '/static/images/content/av-2.png', size: '45', class: '', value: 2},
        {src: '/static/images/content/av-3.png', size: '45', class: '', value: 3},
        {src: '/static/images/content/av-4.png', size: '70', class: 'active', value: 4},
        {src: '/static/images/content/av-5.png', size: '45', class: '', value: 5},
      ]},
      {slider: '5', text: "5 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit...", name: 'IVAN IVANOV', vocation: 'HACKER', class: '', avatars: [
        {src: '/static/images/content/av-1.png', size: '45', class: '', value: 1},
        {src: '/static/images/content/av-2.png', size: '45', class: '', value: 2},
        {src: '/static/images/content/av-3.png', size: '45', class: '', value: 3},
        {src: '/static/images/content/av-4.png', size: '45', class: '', value: 4},
        {src: '/static/images/content/av-5.png', size: '70', class: 'active', value: 5},
      ]}
    ];


section#people
  .container.text-center
    ul.people__list
      each card in commentsList
        li(class=`people__item ${card.class}`, data-id=card.slider)
          h2.people__header “
          .row
            .col-10.offset-1
              p.people__text.section-template__description.section-template__description--light= card.text
          .people__names
            h3.people__name.paragraphBlack.paragraphBlack--white= card.name
            p.people__vocation.paragraph.paragraph--white= card.vocation
          .avatars
            each av in card.avatars
              img.avatars__image(src=av.src, alt="Icon avatar", width=av.size, height=av.size, class=av.class, data-id=av.value)
